# Heroes of Pymoli Data Analysis

Observable trends:
1. Males (80%+) and ages 15-29 (70%+) are the core market.
2. Even the most popular items have only been purchased by less than 2% of users (11/573, or less than 4% in the second data set which had less players and purchases), so there might be an opportunity to market these more, perhaps through peer pressure (i.e. sending messages like "look what items your friends are buying").
3. On this note, there seems to be strong demand for products that cost 2x the most popular ones. For example, the retribution axe costs over $4, but is still the third highest selling item. Would need more info, but perhaps there is room to raise the price on some items. Would want to better understand "why" certain items get bought. I mean, are the most profitable items also more powerful in the game, or is it just a branding thing?

In [559]:
import pandas as pd

purchase_data_json = "purchase_data.json"
purchase_data_df = pd.read_json(purchase_data_json)

## Player Count

In [560]:
player_count = len(purchase_data_df["SN"].unique())
player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            573

## Purchasing Analysis (Total)

In [561]:
unique_item_count = len(purchase_data_df["Item ID"].unique())
avg_purchase_price = purchase_data_df["Price"].mean()
total_num_purchases = len(purchase_data_df)
total_revenue = purchase_data_df["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_item_count], 
                                       "Average Price": [avg_purchase_price], 
                                       "Number of Purchases": [total_num_purchases], 
                                       "Total Revenue": [total_revenue]})

# Formatting
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df.head()

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $2.93                  780                     183     $2,286.33

## Gender Demographics

In [562]:
gender_name_data_df = purchase_data_df[["SN","Gender"]]
gender_name_data_df = gender_name_data_df.drop_duplicates(["SN"])

gender_counts = gender_name_data_df["Gender"].value_counts()

gender_percentages = 100*gender_counts/player_count
gender_percentages = gender_percentages.map("{:,.2f}".format)

gender_demographics_df = pd.DataFrame({"Percentage of Players":gender_percentages,
                                       "Total Count":gender_counts})
gender_demographics_df

                      Percentage of Players  Total Count
Male                                  81.15          465
Female                                17.45          100
Other / Non-Disclosed                  1.40            8

## Purchasing Analysis (Gender)

In [563]:
gender_purchase_data_df = purchase_data_df.groupby(['Gender'])

gender_purchase_count = gender_purchase_data_df["SN"].count()

gender_avg_purchase_price = gender_purchase_data_df["Price"].mean()
gender_avg_purchase_price = gender_avg_purchase_price.map("${:,.2f}".format)

gender_total_purchase_value = gender_purchase_data_df["Price"].sum()

gender_purchasing_analysis_df = pd.DataFrame({"Purchase Count":gender_purchase_count,
                                              "Average Purchase Price":gender_avg_purchase_price, 
                                              "Total Purchase Value": gender_total_purchase_value, 
                                              #"Normalized Totals": gender_normalized_purchase_price
                                             })

# Adding normalized column
gender_demo_normalized_df = gender_demographics_df.merge(gender_purchasing_analysis_df, left_index = True,right_index = True)

normalized_totals = gender_demo_normalized_df["Total Purchase Value"]/gender_demo_normalized_df["Total Count"]
normalized_totals_df = pd.DataFrame(normalized_totals,columns=["Normalized Totals"])

gender_demo_normalized_df = gender_demo_normalized_df.merge(normalized_totals_df, left_index = True,right_index = True)

new_gender_purchasing_analysis_df = gender_demo_normalized_df[["Purchase Count",
                                              "Average Purchase Price", 
                                              "Total Purchase Value", 
                                              "Normalized Totals"
                                                              ]]

# Formatting
new_gender_purchasing_analysis_df['Total Purchase Value'] = new_gender_purchasing_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
new_gender_purchasing_analysis_df['Normalized Totals'] = new_gender_purchasing_analysis_df['Normalized Totals'].map("${:,.2f}".format)
new_gender_purchasing_analysis_df

/Users/knudsen80/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/knudsen80/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Male,633,$2.95,"$1,867.68",$4.02
Female,136,$2.82,$382.91,$3.83
Other / Non-Disclosed,11,$3.25,$35.74,$4.47

## Age Demographics

In [564]:
# Note: They ask for "bins of 4 years" but give an example of 5 year bins.
bins = [0,9,14,19,24,29,34,39,199]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

age_purchase_data_df = purchase_data_df[["SN","Age","Price"]]
age_name_data_df = age_purchase_data_df.drop_duplicates(["SN"])

pd.cut(age_name_data_df["Age"], bins, labels=group_names)
age_name_data_df["Age Buckets"] = pd.cut(age_name_data_df["Age"], bins, labels=group_names)

age_name_data_groups_df = age_name_data_df.groupby("Age Buckets")

age_counts = age_name_data_groups_df["Age"].count()

age_percentages = 100*age_counts/player_count
age_percentages = age_percentages.map("{:,.2f}".format)

age_demographics_df = pd.DataFrame({"Percentage of Players":age_percentages,
                                       "Total Count":age_counts})
age_demographics_df

/Users/knudsen80/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

            Percentage of Players  Total Count
Age Buckets
<10                          3.32           19
10-14                        4.01           23
15-19                       17.45          100
20-24                       45.20          259
25-29                       15.18           87
30-34                        8.20           47
35-39                        4.71           27
40+                          1.92           11

## Purchasing Analysis (Age)

In [565]:
pd.cut(age_purchase_data_df["Age"], bins, labels=group_names)
age_purchase_data_df["Age Buckets"] = pd.cut(age_purchase_data_df["Age"], bins, labels=group_names)

age_purchase_data_groups_df = age_purchase_data_df.groupby("Age Buckets")

age_purchase_count = age_purchase_data_groups_df["SN"].count()

age_avg_purchase_price = age_purchase_data_groups_df["Price"].mean()
age_avg_purchase_price = age_avg_purchase_price.map("${:,.2f}".format)

age_total_purchase_value = age_purchase_data_groups_df["Price"].sum()

age_purchasing_analysis_df = pd.DataFrame({"Purchase Count":age_purchase_count,
                                              "Average Purchase Price":age_avg_purchase_price, 
                                              "Total Purchase Value": age_total_purchase_value, 
                                              #"Normalized Totals": age_normalized_totals
                                             })

# Adding normalized column
age_demo_normalized_df = age_demographics_df.merge(age_purchasing_analysis_df, left_index = True,right_index = True)

age_normalized_totals = age_demo_normalized_df["Total Purchase Value"]/age_demo_normalized_df["Total Count"]
age_normalized_totals_df = pd.DataFrame(age_normalized_totals,columns=["Normalized Totals"])

age_demo_normalized_df = age_demo_normalized_df.merge(age_normalized_totals_df, left_index = True,right_index = True)

new_age_purchasing_analysis_df = age_demo_normalized_df[["Purchase Count",
                                              "Average Purchase Price", 
                                              "Total Purchase Value", 
                                              "Normalized Totals"
                                                              ]]

# Formatting
new_age_purchasing_analysis_df['Total Purchase Value'] = new_age_purchasing_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
new_age_purchasing_analysis_df['Normalized Totals'] = new_age_purchasing_analysis_df['Normalized Totals'].map("${:,.2f}".format)
new_age_purchasing_analysis_df

/Users/knudsen80/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/knudsen80/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/knudsen80/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Buckets,,,,
<10,28,$2.98,$83.46,$4.39
10-14,35,$2.77,$96.95,$4.22
15-19,133,$2.91,$386.42,$3.86
20-24,336,$2.91,$978.77,$3.78
25-29,125,$2.96,$370.33,$4.26
30-34,64,$3.08,$197.25,$4.20
35-39,42,$2.84,$119.40,$4.42
40+,17,$3.16,$53.75,$4.89

## Top Spenders

In [566]:
sn_purchase_data_df = purchase_data_df.groupby(['SN'])

sn_purchase_count = sn_purchase_data_df["SN"].count()

sn_avg_purchase_price = sn_purchase_data_df["Price"].mean()

sn_total_purchase_value = sn_purchase_data_df["Price"].sum()

sn_purchasing_analysis_df = pd.DataFrame({"Purchase Count":sn_purchase_count,
                                              "Average Purchase Price":sn_avg_purchase_price, 
                                              "Total Purchase Value":sn_total_purchase_value, 
                                             })

sorted_sn_purchasing_analysis_df = sn_purchasing_analysis_df.sort_values("Total Purchase Value",ascending=False).head(5)

sorted_sn_purchasing_analysis_df.style.format({
    'Average Purchase Price': '${:,.2f}'.format,
    'Total Purchase Value': '${:,.2f}'.format
    })

## Most Popular Items

In [567]:
item_purchase_data_df = purchase_data_df.groupby(['Item ID'])

item_purchase_count = pd.DataFrame(item_purchase_data_df["Item ID"].count())
item_purchase_count.rename(columns = {"Item ID": "Purchase Count"}, inplace = True)

item_total_purchase_value = pd.DataFrame(item_purchase_data_df["Price"].sum())
item_total_purchase_value.rename(columns = {"Price": "Total Purchase Value"}, inplace = True)

item_list = purchase_data_df.drop_duplicates('Item ID')
item_list.rename(columns = {"Price":"Item Price"}, inplace = True)

item_purchasing_analysis_df = item_list.merge(item_purchase_count, left_on="Item ID", right_index = True)
item_purchasing_analysis_df = item_purchasing_analysis_df.merge(item_total_purchase_value, left_on="Item ID", right_index = True)

item_purchasing_analysis_df = item_purchasing_analysis_df[["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"]] 

sorted_popular_item_df = item_purchasing_analysis_df.sort_values("Purchase Count",ascending=False).head(5)

sorted_popular_item_df.style.format({
    'Item Price': '${:,.2f}'.format,
    'Total Purchase Value': '${:,.2f}'.format
    })

/Users/knudsen80/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

## Most Profitable Items

In [568]:
sorted_profitable_item_df = item_purchasing_analysis_df.sort_values("Total Purchase Value",ascending=False).head(5)

sorted_profitable_item_df.style.format({
    'Item Price': '${:,.2f}'.format,
    'Total Purchase Value': '${:,.2f}'.format
    })